{% extends "base.html" %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Time Clock Application</title>
    
</head>
<body>
    <h1>Time Clock Application</h1>
    
    <form id="PunchIN" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Clock In</button>
    </form>

    {% comment %} <script>
        // Function to get CSRF token from the cookie
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrf_token = getCookie('csrftoken');

        // Function to perform clock in action
        function performClockIn() {
            var emp_Id = document.getElementById('emp_Id').value;
            var job_Id = document.getElementById('job_Id').value;
            var mach_Id = document.getElementById('mach_Id').value;
            var csrf_token = getCookie('csrftoken');
            var headers = new Headers();
            headers.append('X-CSRFToken', csrf_token);
            headers.append('Content-Type', 'application/json');
            // Perform the clock in action using AJAX or fetch API
            // You can handle the button click event and send a POST request to your Django backend
            
            // Example using fetch API:
            fetch('perform_clock_in/', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify({
                    emp_id: emp_Id,
                    job_id: job_Id,
                    mach_id: mach_Id,
                }),
                credentials: 'same-origin',
            })
            .then(response => response.json())       
            .then(data => {
                // Handle the response from the backend
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.log('Error:', error);
            });
        }        
    </script> {% endcomment %}
</body>
</html>



{% endblock %}